body {
  background-image: url(./img/wild-sea.png);
}

p {
  font-family: Arial;
  color: green;
}

.header {
  color: black;
  background-color: white;
  text-align: center;
  width: 320px;
  opacity: 0.8;
  font-family: garamond;
}

.header h1 {
  font-size:
}
