body {
  background-image: url(./img/wild-sea.png);
}

div {
  margin: 0 auto;
}

.header {
  background-color: white;
  text-align: center;
  width: 320px;
  opacity: 0.8;
  font-family: Nimbus Sans L;
}
.header h1 {
  margin-bottom: 12px;
}

.header p {
  margin-top: 12px;
}

.main_list {
  width: 200px;
}
