body {
  background-image: url(./img/leaves.png);
}

div {
  border: 1px solid black;
}

.whiteBox {
  background-color: white;
  opacity: 0.8;
  width: 60%;
  height: 1200px;
  z-index: 1;
  position: fixed;
  top:10%;
  left: 20%;

}

.header {
  position: relative;
  top: 80px;
  text-align: center;
  font-family: Nimbus Sans L;
  z-index: 2;
  margin-bottom: 90px;
}

.header h1 {
  font-size: 48px;
  margin-bottom: 12px;
}

.header p {
  margin-top: 12px;
}

.main_list {
  position: relative;
  text-align: center;
  z-index: 2;
}
